<% layout("/layouts/boilerPlate") %>
<link rel="stylesheet" href="/css/style.css">
<body>
   <div class="row col-8 offset-3">
    <div class="card" style="width: 40rem;">
        <img src="<%= listing.image %>" class="card-img-top" alt="image">
        <div class="card-body">
          <p class="card-text">
            <h2>Details </h2>
            <ul>
            <li><%= listing.description %></li>
            <li>&#8377; <%= listing.price %></li>
            <li><%= listing.location %></li>
            <li><%= listing.country %></li>
            </ul>
          </p>
        </div>
    </div>
    
     <a href="/listing/<%= listing.id %>/edit"><button class="btn btn-dark mb-3 col-2">edit listing</button></a>
     <form method="POST" action="/listing/<%=listing.id%>?_method=DELETE">
      <button class="btn btn-dark mb-3 col-2">DELETE</button>
     </form>
     
    
   </div>








    
   
</body>
